<ion-view view-title="Description">
    <ion-content>


    <div class="list">

        <label class="item item-input">
            <span class="input-label">Description: </span>
            <input type="text" ng-model="newDescription"/>
        </label>

    </div>

    <div>
        <button class="button button-block" ng-click="save(newDescription)">
            Save
        </button>
        <button class="button button-block" ng-click="load()">
            Load
        </button>
        <p>
          {{statusDescription}}
        </p>
    </div>

    </ion-content>
</ion-view>
