<ion-view>
    <ion-nav-title>
        <span style="color:white">Type</span>
    </ion-nav-title>
    <ion-content>

        <div class="types">

            <ion-list>

                <ion-item class="card" ng-click="saveType('Traffic accident')" ng-model="incident.newType">
                    <i><img src="img/icon/traffic accident.png" width="30px"/>  <span>Traffic accident</span></i>
                </ion-item>

                <ion-item class="card" ng-click="saveType('Fire')" ng-model="incident.newType">
                    <i><img src="img/icon/fire.png" width="30px"/>  <span>Fire</span></i>
                </ion-item>

                <ion-item class="card" ng-click="saveType('Terrorism')" ng-model="incident.newType">
                    <i><img src="img/icon/terrorism.png" width="30px"/>  <span>Terrorism</span></i>
                </ion-item>

                <ion-item class="card" ng-click="saveType('Natural disaster')" ng-model="incident.newType">
                    <i><img src="img/icon/natural disaster.png" width="30px"/>  <span>Natural disaster</span></i>
                </ion-item>

                <ion-item class="card" ng-click="saveType('Theft')" ng-model="incident.newType">
                    <i><img src="img/icon/theft.png" width="30px"/>  <span>Theft</span></i>
                </ion-item>

                <ion-item class="card" ng-click="saveType('Other')" ng-model="incident.newType">
                    <i><img src="img/icon/other.png" width="30px"/>  <span>Other</span></i>
                </ion-item>

            </ion-list>

        </div>


 


    </ion-content>
</ion-view>


<!--      

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <div class="row placeholders">
            
      
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="img/icon/traffic.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          
        </div>
      </div>
</div> -->