<ion-view view-title="New incident : Type" align-title="left">
    <ion-content>

        <ion-list>
            <ion-item ng-click="saveType('Traffic accident')" ng-model="newType">Traffic accident</ion-item>
            <ion-item ng-click="saveType('Fire')" ng-model="newType">Fire</ion-item>
            <ion-item ng-click="saveType('Terrorism')" ng-model="newType">Terrorism</ion-item>
            <ion-item ng-click="saveType('Other')" ng-model="newType">Other</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
