<ion-view view-title="New incident : Photo" class="has-header padding">
    <ion-content ng-controller="AddIncidentController">


      <div class="padding">
          <button class="button button-block button-dark"
                  ng-click="savePhoto(incident)">NEXT</button>
      </div>

      <div class="group">
        <input type="text" ng-model="incident.title" required>
        <label>Title</label>
      </div>

      <div class="group">
        <input type="text" ng-model="incident.description" required>
        <label>Description</label>
      </div>
        <div class="card">
            <div class="item" style="text-align: center">
                <img ng-src="{{pictureUrl}}">
            <div class="padding">
                <button class="button button-block button-calm"
                ng-click="getPhoto()">Take picture</button>
            </div>
            <div class="padding">
                <button class="button button-block button-assertive"
                ng-click="selectPhoto()">Select picture</button>
            </div>
          </div>
        </div>


    </ion-content>
</ion-view>
