<ion-view>
    <ion-nav-title>
        <span style="color:white">Map</span>
    </ion-nav-title>
    <ion-content>

          <a ng-click="address()"><label style="cursor:pointer">Address ?</label></a>

          <div id="map" data-tap-disabled="true"></div>

          <div class=" map_button padding">
              <button ng-click="report()" type="submit" class="button icon icon-left ion-checkmark button-dark"> Save</button>
              <button ng-click="send()" type="submit" class="button icon icon-left ion-paper-airplane button-dark"> Report</button>
          </div>

    </ion-content>
</ion-view>
