<ion-view id="incidentDetails">

    <ion-nav-title>Incident details - page {{data.currentPage}}</ion-nav-title>

    <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
      <ion-slide-page ng-repeat="incident in data.incidents">

          <ion-content>

              <div class="card">
                  <ion-item>
                      <div class="infoLeft">
                          <h2>{{incident.title}}</h2>
                          <p>{{incident.director}}</p>
                          <p>{{incident.actors}}</p>
                      </div>
                      <div class="infoRight">
                          <p>{{incident.year}}</p>
                          <p>{{incident.runtime}}</p>
                          <p>Rating: {{incident.imdbRating}}</p>
                      </div>
                  </ion-item>

                  <ion-item class="item-image">
                      <img src="{{incident.poster}}" />
                  </ion-item>

                  <ion-item class="item-body">
                      {{incident.plot}}
                  </ion-item>
              </div>

          </ion-content>

      </ion-slide-page>
    </ion-slides>

</ion-view>
