<ion-view>
		<ion-nav-title>
				<span style="color:white">Incident detail</span>
		</ion-nav-title>
		<ion-content>
				<div class="lists">
						<div class="card">
								<ion-item>
										<div class="s-color-black">
												<h2>Titre : {{incident.title}}</h2>
												<p >Type : {{incident.type}}</p>
												<p>Date : {{incident.date | date:'dd/MMM/yyyy'}}</p>
												<p>Heure : {{incident.date | date:'HH:mm'}}</p>
												<p>Adresse : </p>
										</div>
								</ion-item>

								<ion-item class="item-image">
										<img src="{{incident.photo}}" />
								</ion-item>

								<ion-item class="item-body s-color-black">
									Description : {{incident.description}}
								</ion-item>
						</div>
				</div>

    </ion-content>
</ion-view>
