<ion-view>
    <ion-content>
        <div class="cont">
            <div class="demo">
                <div class="login">
                    <div class="login__check"></div>
                    <div class="login__form">
                        <div class="login__row">
                            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                            </svg>
                            <input type="text" class="login__input name" placeholder="Adresse E-mail" ng-model="user.email"/>
                        </div>
                        <div class="login__row">
                            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                            </svg>
                            <input type="password" class="login__input pass" placeholder="Mot de passe" ng-model="user.password"/>
                        </div>
                        <button type="button" class="login__submit" ng-click="signin(user)">Connexion</button>
                        <p class="login__signup">Vous n'avez pas un compte? &nbsp;<a href="#/signUp">S'inscrir</a></p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
