<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/1.jpg) center; background-size: cover;">

        <div class="loginTitle">
            <div class="app-icon"></div>
            <h1>EmergencyTUN</h1>
        </div>

        <form>

          <div class="group">
            <input class="login-email-input" type="text" ng-model="user.email" required>
            <label>Email</label>
          </div>

          <div class="group">
            <input class="login-password-input" type="password" ng-model="user.password" required>
            <label>Password</label>
          </div>

          <div class="padding">
              <button ng-click="signin(user)" type="submit" class="button button-full button-login">Login</button>
          </div>
          <div class="button-bar social-login">
              <button class="button button-small button-border icon-left ion-social-google button-assertive">Google+</button>
              <button class="button button-small button-border icon-left ion-social-twitter button-calm">Twitter</button>
              <button class="button button-small button-border icon-left ion-social-facebook button-positive">Facebook</button>
          </div>

        </form>
    </ion-content>
</ion-view>
