<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/1.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>EmergencyTUN</h1>
            </div>
        </div>
        <div class="list">
            <input placeholder="Username" type="text"></input>
            <input placeholder="Password" type="password"></input>
        </div>
        <div class="padding">
            <button ui-sref="app.incidents" class="button button-full button-assertive">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive">Facebook</button>
        </div>
    </ion-content>
</ion-view>
