#incidents img{
  background-size: cover;
  background-position: center;
}
.lists .item-divider {
  /*background-color: #141414;*/
  /*color: #fff;*/
  border-style: none;
}
.lists
{
  padding-top: 1px;
  padding-bottom: 1px;
}

.s-borderColor{
	border-bottom:3px solid #eceae6;
	color: #b71c1c;
	
}

.s-color-black ,p{
  color:black !important;
}