#incidents img{
  background-size: cover;
  background-position: center;
}
.lists .item-divider {
  background-color: #141414;
  color: #fff;
   border-style: none;
}
.lists
{
  padding-top: 1px;
  padding-bottom: 1px;
}
