* { box-sizing:border-box; }

.button-login {
    border-color: transparent;
    background-color: #FB4B17;
    color: #fff;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/ET.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 100px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:20px;
  margin-left:20px
}
.login-password-input , .login-email-input	{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:280px;
  color : #FFF !important;
  font-weight: bold;
  border:none;
  border-bottom:1px solid #757575;
  background-color: rgba(0, 0, 0, 0.23);
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#444;
  font-size:14px;
  font-weight:bold;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
