.scroll {
    height: cover;
    position: relative;
    background-image: url("../img/background6.jpg");
    background-size: cover;
}

#map {
    width: 90%;
    height: 60%;
    margin: 15px auto;
}
.map_button button {
  width: 110px;
  margin-left: 10px;
}
.map_button {
  margin-left: 20px;
}
