.scroll {
    height: cover;
    position: relative;
   /* background-image: url("../img/background6.jpg");*/
    background-size: cover;
    background-color: #eceae6;
}

#map{
    width: 100%;
    height: 400px;
   /* margin: 15px auto;*/
}
.map_button button {
  width: 110px;
  margin-left: 10px;
}
.map_button {
  margin-left: 20px;
}

.s-tab-map{
  font-size: x-large;
}

