.photos{
  height: cover;
  position: relative;
  background-image: url("../img/background6.jpg");
  background-size: cover;
}

.photos .card {
  width: 300px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.photos img {
  height: 250px;
  width: 265px;
}

.photos .input-label {
  color: #337ab7;
}

.photos .card button {
  width: 130px;
  font-size: 14px;
  background-color: #F5EBC8;
}
.photo_button {
  padding-bottom: 5px;
}
