#incidents .rating{
    position: absolute;
    bottom: 4px;
}

#incidents .info{
    height: 65px;
    overflow: hidden;
}

#incidents h2{
    white-space: normal;
}

#incidents p{
    white-space: normal;
}

#incidents img{
    background-size: cover;
    background-position: center;
}

#incidentDetails .infoRight{
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 16px;
    padding-top: 16px;
    text-align: right;
    width: 100px;
    font-style: italic;
}

#incidentDetails .infoRight p:first-of-type{
    font-size: 16px;
    color: black;
    font-style: normal;
    margin-bottom: 25px;
}

#incidentDetails .infoLeft{
    width: calc(100% - 100px);
}

#incidentDetails .infoLeft p, #incidentDetails .infoLeft h2{
  white-space: normal;
}

#incidentDetails .infoLeft p:nth-of-type(1){
    font-style: italic;
    margin-bottom: 6px;
}

/* Menu*/
.barMenu {
  border-color: transparent;
  background-color: #FB4B17;
  color: #fff;
}


/* Ionic Material's CSS :
==================================
==================================*/

/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 50px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/ET.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 100px;
}

.social-login {
    position: fixed;
    bottom: 0;
}
