.types ion-item {
  height: 60px;
 /* background-color: #F5EBC8;*/
 border: 1px solid;
}

.types i {
  font-weight: bold;

}
.types .card {
  padding-top: 15px;
}
.types span {
  padding-left: 45px;
}


/*
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}*/